@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  font-family: "Inter", sans-serif;
  --back-color1: #000000;
  --back-color2: #3366ff;
  --text-color: #ffffff;
  --global-border-radius: 2rem;
  text-align: center;
}

body {
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.title {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: var(--back-color1);
  color: var(--text-color);
}

.input-container {
  padding: 1rem;
  border-radius: var(--global-border-radius);
  background-color: var(--back-color2);
  color: var(--text-color);
  margin-top: 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

input {
  outline: none;
  border-radius: 5px;
  padding: 0.5rem;
  border: 4px solid black;
  font-size: large;
  margin: 1rem;
  width: 100%;
  max-width: 150px;
  transition-duration: 0.4s;
}

input:hover {
  border-color: blue;
}

input:focus {
  border-color: red;
}

button {
  padding: 12px 24px;
  margin-left: 1rem;
  background-color: transparent;
  border: 2px solid;
  border-radius: var(--global-border-radius);
  transition-duration: 0.4s;
}

button:hover {
  background-color: #000000;
  color: #f5deb3;
}

/* Footer (START) */

/* Custom footer style */
footer {
  margin: 5rem 1rem 1rem 1rem;
  color: white;
}

/* To hold all items in the footer tag in one place */
.footer-container {
  text-decoration: none;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  border-radius: 1rem;
  background-color: #000000;
}

/* Heading of the footer tag */
.footer-head {
  text-align: center;
}

/* Content of the footer tag */
.footer-content {
  padding-bottom: 1rem;
  display: block;
  align-items: justify;
  margin-left: auto;
  margin-right: auto;
}

/* website icons for the footer */
.footer-icon {
  display: inline;
  align-items: justify;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 2rem 2rem 2rem;
}

#page-end {
  padding-top: 6rem;
}

/* Footer (END) */
